#events {
  padding: 5rem 0;
}

.eventsBox__header1 {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
}
.eventsBox__header2 {
  font-size: 3rem;
  font-family: "Oswald";
}
.eventsBox__btn {
  padding: 2rem 3rem;
  display: inline-block;
  margin: 3rem 0;
}
/*--------- Events Section Layout ---------*/
.eventsBox__topRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.eventsBox__bottomRow {
  text-align: center;
}
.eventsBox__column--half {
  width: 100%;
}
.eventsBox__column--half:last-child {
  padding: 2rem;
  background-color: wheat;
}
.eventsBox__column--third {
  width: 100%;
}
/*--------- Event Info Box ---------*/
.eventsBox__eventInfo {
  min-height: 15rem;
}
.eventsBox__eventInfo > a {
  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--primary-color);
  font-weight: bold;
}
/*--------- Event Date ---------*/
.eventsBox__date {
  font-weight: bold;
}
.eventsBox__date--lg {
  font-size: 1.6rem;
}
.eventsBox__date--sm {
  font-size: 1.4rem;
}
/*--------- Event Title ---------*/
.eventsBox__title a {
  display: inline-block;
  font-family: "Oswald";
  transition: all 0.3s;
}
.eventsBox__title a:hover {
  color: var(--primary-color);
}
.eventsBox__title--lg a {
  font-size: 2.8rem;
  margin: 2rem 0;
}
.eventsBox__title--sm a {
  font-size: 2.2rem;
  margin: 0.5rem 0 2.5rem 0;
}
/*--------- Event Image ---------*/
.eventsBox__imgLink {
  display: inline-block;
}
.eventsBox__imgLink--sm {
  margin-bottom: 1rem;
  object-fit: cover;
  width: 14.5rem;
  height: 12rem;
}
.eventsBox__imgLink--sm .eventsBox__img {
  width: 100%;
  height: 100%;
}
