#events {
  padding: 5rem 0;
}
.eventsBox {
  text-align: center;
}
.eventsBox__header1,
.eventsBox__header2 {
  text-align: center;
}
.eventsBox__header1 {
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
}
.eventsBox__header2 {
  font-size: 3rem;
  font-family: "Oswald";
  margin-top: 0.5rem;
}
.eventsBox__btn {
  padding: 2rem 3rem;
  display: inline-block;
  margin: 3rem 0;
}
/*--------- Events Section Layout ---------*/
.eventsBox__topRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  text-align: left;
}
.eventsBox__bottomRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.eventsBox__column--half {
  width: 100%;
}
.eventsBox__column--half:last-child {
}
.eventsBox__column--third {
  /* width: 100%; */
  flex-basis: 100%;
  /* flex-grow: 2; */
}
.eventsBox__column--third:nth-child(1) {
}
/*--------- Event Info Box ---------*/
.eventsBox__eventInfo {
  min-height: 15rem;
  /* background-color: wheat; */
}
.eventsBox__eventInfo > a {
  display: inline-block;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--primary-color);
  font-weight: bold;
}
/*--------- Event Date ---------*/
.eventsBox__date {
  font-weight: bold;
}
.eventsBox__date--lg {
  font-size: 1.6rem;
  margin-top: 1rem;
}
.eventsBox__date--sm {
  font-size: 1.4rem;
}
/*--------- Event Title ---------*/
.eventsBox__title a {
  display: inline-block;
  font-family: "Oswald";
  transition: all 0.3s;
}
.eventsBox__title a:hover {
  color: var(--primary-color);
}
.eventsBox__title--lg a {
  font-size: 2.8rem;
  margin: 2rem 0;
}
.eventsBox__title--sm a {
  font-size: 2.2rem;
  margin: 0.5rem 0 2.5rem 0;
}
/*--------- Event Image ---------*/
.eventsBox__imgLink {
  display: inline-block;
  object-fit: cover;
}
.eventsBox__imgLink--lg {
  width: 100%;
  height: 100%;
}
.eventsBox__imgLink--lg .eventsBox__img {
  width: 100%;
  height: 100%;
}

.eventsBox__imgLink--sm {
  margin-bottom: 1rem;
  width: 14.5rem;
  height: 12rem;
}
.eventsBox__imgLink--sm .eventsBox__img {
  width: 100%;
  height: 100%;
}

/* ------------- MEDIA QUERIES ------------- */
@media (min-width: 576px) {
  .eventsBox__header1 {
    font-size: 2.6rem;
  }
  .eventsBox__header2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  .eventsBox__header1 {
    font-size: 3rem;
  }
  .eventsBox__header2 {
    font-size: 4.2rem;
  }
  .eventsBox__topRow {
    flex-direction: row;
    min-height: 30rem;
    margin-bottom: 6rem;
  }
  .eventsBox__bottomRow {
    flex-direction: row;
  }
  .eventsBox__column--half:last-child {
    display: flex;
    align-items: center;
    padding: 2rem;
  }
  .eventsBox__column--third {
    flex-basis: 26rem;
  }
}
@media (min-width: 992px) {
  .eventsBox__header1 {
    font-size: 3.2rem;
  }
  .eventsBox__header2 {
    font-size: 5rem;
  }
  .eventsBox__column--half:first-child {
    padding-right: 2rem;
  }
  .eventsBox__column--half:last-child {
    padding-left: 2rem;
  }
  .eventsBox__title--lg a {
    font-size: 3.2rem;
  }
}
