section {
  padding: 5rem 0;
}

.tabs {
  width: 100%;
  margin: 0;
}
.tabs__item {
  margin: 0;
}
.tabs__item > a.active {
  background-color: var(--primary-color);
  color: white;
}
.tabs__item > a::after {
  display: none;
}
.tabs__item > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.tabs__item > a.active:hover {
  background-color: var(--primary-color);
}
.tabs__toggle {
  font-weight: bold;
  border: 1px solid var(--primary-color);
}
.tabs__toggle:focus {
  outline: none;
}
.tabs__list-wrapper {
  padding: 1rem 0;
}
.tabs__content {
  padding: 0;
  height: auto;
}
.tabs__contents {
  padding: 2rem 0;
}
/* ------------- Menus Section ------------- */
.menuBox {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.itemBox {
  display: flex;
  flex-direction: column;
}
.itemBox__info {
  /* padding: 0.5rem 0; */
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.itemBox__name,
.itemBox__price {
  font-size: 2rem;
  display: inline-block;
  font-family: "Oswald", sans-serif;
}
.itemBox__name {
  margin-right: 0.5rem;
  letter-spacing: 1px;
}
.itemBox__price {
  padding-left: 0.5rem;
}
.itemBox__description {
  margin: 0;
}
.itemBox__imgWrapper,
.itemBox__img {
  height: 15rem;
}
.itemBox__imgWrapper {
  object-fit: cover;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.itemBox__img {
  width: 20rem;
}

/* ------------- Media Queries ------------- */
@media (min-width: 490px) {
  .menuBox {
    grid-template-columns: 1fr;
  }
  .itemBox {
    flex-direction: row;
  }
  .itemBox__imgWrapper {
    max-width: 20rem;
    height: 15rem;
  }
  .itemBox__dataWrapper {
    margin: 0 0 0.5rem 1rem;
  }
  .itemBox__info {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .menuBox {
    grid-template-columns: 1fr 1fr;
  }
  .itemBox {
    flex-direction: row;
  }
  .itemBox__dataWrapper {
    margin: 0 0 0.5rem 1rem;
  }
  .itemBox__info {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .itemBox__description {
    font-size: 1.4rem;
  }
  .itemBox__imgWrapper,
  .itemBox__img {
    min-width: 10rem;
    height: 10rem;
  }
}
@media (min-width: 992px) {
  /* .tabs__item > a::after {
    display: block;
  } */
  .menuBox {
    grid-template-columns: 1fr 1fr;
  }
  .itemBox__imgWrapper,
  .itemBox__img {
    width: 10rem;
    height: 10rem;
  }
  /* .itemBox {
    flex-direction: row;
  } */
}

@media (min-width: 1200px) {
  .menuBox {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
