#menus {
  padding-bottom: 5rem;
}
/* ------------- Menus Header Section ------------- */
.menuHeader {
  height: 30rem;
  margin-bottom: 3rem;
  background-image: url("../images/person-holding-pizza-on-wooden-board-3762075.jpg");
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 4;
}
.menuHeader::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.menuHeader .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menuHeader__content {
  max-width: 55rem;
  z-index: 10;
}

.menuHeader__header1,
.menuHeader__header2 {
  text-align: center;
  text-shadow: 0 0 5px #000;
}
.menuHeader__header1 {
  font-size: 2.5rem;
  font-family: "Dancing Script", cursive;
  font-weight: normal;
  letter-spacing: 1px;
}
.menuHeader__header2 {
  font-size: 4rem;
  font-family: "Oswald";
  letter-spacing: 2px;
}

/* ------------- Tabs Section ------------- */
.tabs {
  width: 100%;
  margin: 0;
}
.tabs__item {
  margin: 0;
}
.tabs__item > a.active {
  background-color: var(--primary-color);
  color: white;
}
.tabs__item > a::after {
  display: none;
}
.tabs__item > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.tabs__item > a.active:hover {
  background-color: var(--primary-color);
}
.tabs__toggle {
  font-weight: bold;
  border: 1px solid var(--primary-color);
}
.tabs__toggle:focus {
  outline: none;
}
.tabs__list-wrapper {
  padding: 1rem 0;
}
.tabs__content {
  padding: 0;
  height: 100%;
}
.tabs__contents {
  padding: 2rem 0;
  min-height: 40rem;
}
/* ------------- Menus Section ------------- */
.menuBox {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
.itemBox {
  display: flex;
  flex-direction: column;
}
.itemBox__info {
  /* padding: 0.5rem 0; */
  margin: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.itemBox__name,
.itemBox__price {
  font-size: 2rem;
  display: inline-block;
  font-family: "Oswald", sans-serif;
}
.itemBox__name {
  margin-right: 0.5rem;
  letter-spacing: 1px;
}
.itemBox__price {
  padding-left: 0.5rem;
}
.itemBox__description {
  margin: 0;
}
.itemBox__imgWrapper,
.itemBox__img {
  height: 15rem;
}
.itemBox__imgWrapper {
  object-fit: cover;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
.itemBox__img {
  width: 20rem;
}

/* ------------- Media Queries ------------- */
@media (min-width: 490px) {
  .menuBox {
    grid-template-columns: 1fr;
  }
  .itemBox {
    flex-direction: row;
  }
  .itemBox__imgWrapper {
    max-width: 20rem;
    height: 15rem;
  }
  .itemBox__dataWrapper {
    margin: 0 0 0.5rem 1rem;
  }
  .itemBox__info {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .menuHeader__header1 {
    font-size: 3rem;
  }
  .menuHeader__header2 {
    font-size: 4.2rem;
  }
  .menuBox {
    grid-template-columns: 1fr 1fr;
  }
  .itemBox {
    flex-direction: row;
  }
  .itemBox__dataWrapper {
    margin: 0 0 0.5rem 1rem;
  }
  .itemBox__info {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .itemBox__description {
    font-size: 1.4rem;
  }
  .itemBox__imgWrapper,
  .itemBox__img {
    min-width: 10rem;
    height: 10rem;
  }
}
@media (min-width: 992px) {
  .menuHeader__header1 {
    font-size: 3.2rem;
  }
  .menuHeader__header2 {
    font-size: 5rem;
  }
  .tabs__item {
    margin-right: 1rem;
  }
  .menuBox {
    grid-template-columns: 1fr 1fr;
  }
  .itemBox__imgWrapper,
  .itemBox__img {
    width: 10rem;
    height: 10rem;
  }
  /* .itemBox {
    flex-direction: row;
  } */
}

@media (min-width: 1200px) {
  /* .tabs__item {
    margin: 0;
  } */
  .menuBox {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
