/* ------------- Reservation Form Section ------------- */
#reservation-form {
  text-align: center;
}
.fields--inline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* TODO: Move input field styles to global */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}
.field__label {
  margin-bottom: 0.5rem;
  text-align: left;
}
.field__input {
  padding: 1rem;
  font-size: 1.6rem;
}

.reservationForm__btn {
  padding: 1.3rem 2rem;
}
/* ------------- Media Queries ------------- */

@media (min-width: 992px) {
  .fields--inline {
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .field {
    width: 40rem;
  }
  .fields--inline:nth-child(2) .field {
    width: 23rem;
  }
}
