/* ------------- Reservation Form Section ------------- */

#reservation .container {
  padding: 5rem 0;
  border-top: 6px solid rgb(255, 243, 227);
}
#reservation-form {
  text-align: center;
}
.reservationHeader__title,
.reservationHeader__subtitle {
  text-align: center;
}
.reservationHeader__title {
  font-size: 6.5rem;
  font-family: "Dancing Script", cursive;
}
.fields--inline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* TODO: Move input field styles to global */
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}
.field__label {
  margin-bottom: 0.5rem;
  text-align: left;
}
.field__input {
  padding: 1rem;
  font-size: 1.6rem;
}
.field__input:last-child {
  height: 48px;
}
.reservationForm__btn {
  padding: 2rem 3rem;
  font-size: 1.6rem;
  transition: all 0.3s;
}
.reservationForm__btn:hover {
  background-color: var(--secondary-color);
}
/* ------------- Media Queries ------------- */

@media (min-width: 992px) {
  .fields--inline {
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .field {
    width: 40rem;
  }
  .fields--inline:nth-child(2) .field {
    width: 23rem;
  }
}
